.accordion {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    transition: 0.5s;
}

.showw {
    transform: translateY(78%);
}

.accordion-item {
    background-color: #454545 !important;
    height: 255px;
}

.rsw_2f {
    height: 200px;
}

.accordion-header button {
    background-color: #f50074 !important;
    color: white !important;
    font-size: 20px;
}

.accordion-header button i {
    margin-right: 110px !important;
    font-size: 24px;
}

.accordion-header button:focus {
    box-shadow: none;
}

.accordion-body button {
    margin-top: 25px;
    font-size: 15px;
    padding: 10px 20px !important;
}

.accordion-item .btn-slide {
    margin-top: 25px;
    font-size: 14px;
    margin-bottom: 75px;
}

.circlee {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.cir {
    position: absolute;
    bottom: 20px;
    left: 52%;
    transform: translate(-50%);
}

.Next,
.Back {
    position: absolute;
    bottom: 10px;
}

.Back {
    left: 0;
}

.Next {
    right: 0;
}

.circlee.active {
    background-color: #f50074;
}

.purchase {
    margin-top: 0 !important;
}

.offcanvas-end .offcanvas-body i {
    font-size: 24px;
    margin-right: 5px;
}

.offcanvas-end .offcanvas-body h3 {
    font-size: 20px;
    margin-top: 25px !important;
}

.offcanvas-body>div {
    width: 100%;
}

.grid-section .canvas-box {
    border: none;
    background-image: none;
}

.grid-section {
    height: calc(100vh - 86px);
}

.buy-lot {
    height: 60px;
    font-size: 16px !important;
}

.space-details {
    height: 30vh;
    width: 100%;
    z-index: 999;
    background-color: #454545;
    position: fixed;
    bottom: 0;
    left: 0;
}

.accordion-header .position-absolute {
    right: 50%;
    transform: translate(50%);
}

.controls-mobile {
    position: fixed;
    /* top: 0; */
    bottom: 30vh;
    /* background: red; */
    background-color: #5a0167;
    width: 100vw;
    /* z-index: 99999999 !important; */
    /* margin: 0; */
    /* padding: 0; */
    left: 0;
    padding: 10px;
}

.btn-mob {
    position: fixed;
    bottom: 20px;
    left: 12%;
}